            <div class="ui segment">
                <h2 class="ui header">Leaderboard</h2>
                <p>Here is the list of the top 25 users who have filled requests.</p>
                <table class="ui celled single line sortable table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Fills</th>
                            <th class="descending">Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.users}}
                        <tr class="user">
                            <td class="collapsing"><i class="icon user"></i></td>
                            <td>{{U.RealName}}</td>
                            <td>{{Fills}}</td>
                            <td>{{Points}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://semantic-ui.com/javascript/library/tablesort.js"></script>
        <script>
            (function() {
                $(document).ready(function() {
                    $("table.sortable").tablesort();
                    $("table.sortable thead th:nth-child(4)").click();
                    $("table.sortable thead th:nth-child(4)").click();
                })
            })();
        </script>
    </body>
</html>
