<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <!---->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.css" integrity="sha256-S4n5rcKkPwT9YZGXPue8OorJ7GCPxBA5o/Z0ALWXyHs=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css" integrity="sha256-/PVkO2+mUlKqE6wgKVXU5Wh4mx3vncHAxLEdpXrziGo=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.js" integrity="sha256-x9fzgXT3ttK2cZF12FIafkDJzEqqLnaWcchT+Y/plJ4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js" integrity="sha256-rNQvJc3/MuwBWFwVTqr0qJ91nWA1pR7PDLk31hgGqP8=" crossorigin="anonymous"></script>
        <!---->
        <style>
            .main.menu .item img.logo { margin-right: 1em; }
            .table td:nth-child(2) { white-space: normal; }
            body { overflow: visible; }
        </style>
    </head>
    <body>
        <div class="ui main menu">
            <div class="ui container">
                <div class="header item">
                    <img class="logo" src="https://cdn.discordapp.com/avatars/{{user.Snowflake}}/{{user.Avatar}}.jpeg">
                    {{user.RealName}}
                </div>
                <div class="right item">Powered by&nbsp;<a href="https://github.com/nektro/skarn" target="_blank">Skarn</a></div>
            </div>
        </div>
        <div class="ui container">
            <h1 class="ui header"><i class="folder open icon"></i> Media Requests</h1>
            <div class="ui secondary pointing menu">
                <a class="item{{#equal page "open"}} active{{/equal}}" href="/requests">Open Requests</a>
                <a class="item{{#equal page "mine"}} active{{/equal}}" href="/mine">My Requests</a>
                <a class="item{{#equal page "new"}} active{{/equal}}" href="/new">New Request</a>
                <a class="item{{#equal page "users"}} active{{/equal}}" href="/leaderboard">Leaderboard</a>
                {{#if user.IsAdmin}}
                <a class="item{{#equal page "a/u"}} active{{/equal}}" href="/admin/users"><i class="gavel icon"></i> All Users</a>
                <a class="item{{#equal page "a/r"}} active{{/equal}}" href="/admin/requests"><i class="gavel icon"></i> All Requests</a>
                {{/if}}
            </div>
